/* Estou aprendendo e fazendo // hoje meu aprendizado aqui é do uso de grids e calculos minimos e maximos */

/* isso serve para remover as diferenças entre os navegadores */
*, *::before, *::after {
    box-sizing: border-box;
}

/* já isso pra remover as margens padrão que vem no body */
html, body {
    margin: 0;
    padding: 0;
}

/* fontes e pagina */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #f4fcff;
    line-height: 1.3; /* tenho q lembrar sempre de pôr, serve pra legibilidade */
}

/* criacao de variaveis pra economizar tempo */
:root {
    --radius: 10px;
    --border: 1.4px solid #333;
    --gap: 16px;
    --gap-big: calc(var(--gap)+20%); 
    --container: 1200px; /* largura máxima que quero */
}

header, body > section {
    width: min(100% - 32px, var(--container)); /* Vai ser 100% de largura menos 32px até chegar em 1200px */    
    margin-inline: auto; /* Margens dos lados: auto, ou seja, centralize */
    /* é o msm q: max-width: 1200px; margin: 0 auto; padding: 0 16px; */
}

header {
    display: grid;
    grid-template-columns: 180px 1fr 60px; /* cada parametro determina um elemento: logo 200px, nav 1fr (1 fração//oq sobrar), 56px para a pesquisa */
    align-items: center;
    gap: var(--gap);
    padding: var(--gap) 0;
    margin-top: 10px;
}

.logo, .nav-top, .search-bar {
    border-radius: var(--radius);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo { /* personalizar o logo */
    font-weight: 800;
    font-size: 30px;
    color: rgb(131, 0, 0);
    /* padrao dos itens head */
    border: none; /* eu pensei em tirar logo ali de cima e por tudo aq em baixo, mas vou simplesmente tirar o border */
}

.nav-top {
    justify-content: center;
    padding: 0 calc(var(--gap)*2)
}

.nav-col {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: clamp(30px, 8vw, 120px); /* clamp é aql negocio q escolho minimo, variavel e maximo  */
}

.nav-item {
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search-bar > svg > path {
    fill:rgb(131, 0, 0);
}

.main-banner {
    border: var(--border);
    border-radius: var(--radius);
    height: 150px;
    margin-bottom: var(--gap);
}

.main {
    display: grid;
    grid-template-columns: 180px 1fr; /* 180px, msm largura da logo pro filtro e o resto pro catalogo */
    gap: var(--gap);
}

.filters {
    border-radius: var(--radius);
    border: var(--border);
    padding: var(--gap);
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters > ul {
    margin: 0px; /* tira as margens padrao dos ul */
    padding: 0px; /* tira os padding padrao dos ul */
    list-style: none;
    gap: var(--gap);
    display: flex;
    flex-direction: column;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--gap);
    margin: 0;
}

.catalog {
    display: grid;
    gap: var(--gap);
}

.collection-box {
    display: grid;
    gap: var(--gap);
    grid-auto-flow: row;
}

.collection-line {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(3, 1fr); /* repete 3 colunas de tamanho 1fr, poderia ter colocado 1fr 1fr 1fr */
} /* o minimax eh algo que descobri agora: serve pra eu definir o minimo e maximo q um objeto atinja */

.collection-item {
    border-radius: var(--radius);
    border: var(--border);
    height: 180px;
    align-items: center;
    display: grid;
    place-items: center;
    color: white;
}